aiohttp
apscheduler
bs4
cryptg
ffmpeg-python
ftfy
gallery-dl
google-generativeai
hachoir
hydrogram
pixivpy3
Pillow
pydantic
psycopg2-binary
pysaucenao
python-dotenv
pytesseract
PyYaml
PyPDF2
pytz
rich
sqlalchemy
streamlit==1.39.0
telegraph
telegraph[aio]
telethon
typer
yt-dlp